@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Raleway:wght@800&display=swap");
* {
  padding: 0 !important;
  margin: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden !important;
}

body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin-bottom: 0 !important;
}

body button,
body input,
body textarea {
  border: none !important;
  outline: none !important;
}

body button:focus,
body input:focus,
body textarea:focus {
  outline: none !important;
}

body a {
  text-decoration: none !important;
}

body .container,
body .container-fluid,
body .row,
body .row > *,
body .col {
  margin: 0 !important;
  padding: 0 !important;
}

body ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}

body #mainBody {
  position: relative;
}

body #mainBodyInner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body .deactive {
  opacity: 0;
  visibility: hidden;
}

body .page-transition {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

body .full-second {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#aboutBody #aboutTopMain {
  padding-bottom: 40px !important;
}

#aboutBody #aboutTopMain .about-top-bg {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#aboutBody #aboutTopMain .about-top-text {
  width: 100%;
  height: 400px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#aboutBody #aboutTopMain .about-top-text div {
  max-width: 1400px;
  margin: auto !important;
  text-align: center;
}

#aboutBody #aboutTopMain .about-top-text div h2 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: clamp(3rem, 4vw, 4rem);
  color: #d72323;
  padding-bottom: 20px !important;
}

#aboutBody #aboutTopMain .about-top-text div p {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 18px;
  padding-top: 20px !important;
  max-width: 1000px;
}

#aboutBody #aboutSectsMain {
  padding-bottom: 200px !important;
}

#aboutBody #aboutSectsMain .about-sect-box {
  max-width: 1300px;
  margin: auto !important;
}

#aboutBody #aboutSectsMain .about-sect-box .about-sect-row .about-sect-side {
  height: 500px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#aboutBody #aboutSectsMain .about-sect-box .about-sect-row .about-sect-side .about-sect-side-cnt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#aboutBody #aboutSectsMain .about-sect-box .about-sect-row .about-sect-side .about-sect-side-cnt .about-sect-bg {
  width: 100%;
  max-width: 40%;
  height: 480px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#aboutBody #aboutSectsMain .about-sect-box .about-sect-row .about-sect-side .about-sect-side-cnt .about-sect-bg:nth-child(even) {
  margin-top: 50px !important;
}

#aboutBody #aboutSectsMain .about-sect-box .about-sect-row .about-sect-side .about-sect-side-cnt .about-sect-side-text {
  max-width: 610px;
  margin: auto !important;
  margin-right: 0 !important;
  text-align: right;
}

#aboutBody #aboutSectsMain .about-sect-box .about-sect-row .about-sect-side .about-sect-side-cnt .about-sect-side-text h3 {
  font-family: "Raleway";
  font-size: clamp(2rem, 3vw, 3rem);
  color: #303841;
}

#aboutBody #aboutSectsMain .about-sect-box .about-sect-row .about-sect-side .about-sect-side-cnt .about-sect-side-text p {
  font-family: "Merriweather";
  font-weight: 400;
  font-size: 18px;
  padding-top: 20px !important;
  padding-bottom: 30px !important;
}

#aboutBody #aboutSectsMain .about-sect-box .about-sect-row .about-sect-side .about-sect-side-cnt .about-sect-side-text a {
  background-color: #d72323;
  color: white;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 800;
  margin: auto !important;
  padding: 10px !important;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#aboutBody #aboutSectsMain .about-sect-box .about-sect-row .about-sect-side .about-sect-side-cnt .about-sect-side-text a:hover {
  background-color: #f33535;
}

#aboutBody #aboutSectsMain #aboutSectM {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

#aboutBody #aboutSectsMain #aboutSectM .about-sect-side-text {
  text-align: left;
  margin-left: 0 !important;
  margin-right: auto !important;
}
/*# sourceMappingURL=about_components.css.map */