@import "../../base/base-dir.scss";
@import "../../themes/themes-dir.scss";

//! Navigation
#navigation {
  .navigation-box {
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 950;
    max-width: 1700px;
    transform: translate(-50%, 0%);
    width: 100%;
    margin: auto !important;

    .navigation-row {
      .navigation-side {
        display: flex;
        align-items: center;
        height: 190px;

        .navigation-side-cnt {
          transition: 0.7s ease-in-out;
        }
      }

      #navL {
        justify-content: flex-start;

        .navigation-side-cnt {
          #navLogo {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
              img {
                opacity: 1;
              }

              div {
                opacity: 1;
              }
            }

            img {
              max-width: 80px;
              transition: 0.3s ease-in-out;
              opacity: 0.8;
            }

            div {
              padding-left: 20px !important;
              text-align: center;
              transition: 0.3s ease-in-out;
              opacity: 0.8;

              h1 {
                font-family: $R;
                font-weight: $RBold;
                color: ghostwhite;
                font-size: clamp(3rem, 4vw, 4rem);
              }

              span {
                font-family: $MW;
                font-weight: $MWReg;
                text-transform: uppercase;
                font-size: 16px;
                color: ghostwhite;
              }
            }
          }
        }
      }

      #navR {
        justify-content: flex-end;
        align-items: center;

        .navigation-side-cnt {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          max-width: 200px;
          margin-left: auto !important;

          .nav-r-set {
            &:nth-child(1) {
              a {
                color: ghostwhite;
                opacity: 0.8;
              }
            }
            &:nth-child(2) {
              a {
                color: ghostwhite;
                opacity: 0.8;
              }
            }
            a {
              padding: 10px !important;
              font-size: 30px;
              position: relative;

              &:hover {
                opacity: 1;
              }

              .nav-cart-holder {
                display: flex;

                p {
                  font-size: 17px;
                  position: relative;
                  top: 20px;
                  background-color: $AlizarinCrimson;
                  color: white;
                  width: 30px;
                  height: 30px;
                  display: grid;
                  place-items: center;
                  border-radius: 50%;
                }
              }
            }

            button {
              padding: 5px !important;
              display: grid;
              place-items: center;
              background-color: transparent;
              opacity: 0.8;

              &:hover {
                opacity: 1;
                span {
                  &:nth-child(odd) {
                    width: 25px;
                  }
                }
              }

              span {
                width: 50px;
                height: 6px;
                background-color: ghostwhite;
                border-radius: 5px;

                &:nth-child(odd) {
                  margin-left: auto !important;
                  margin-right: 0 !important;
                }
                &:nth-child(even) {
                  margin-top: 10px !important;
                  margin-bottom: 10px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

//! Other Page Nav
#otherPageNavHolder {
  position: relative !important;
  width: 100%;
  background-color: $OuterSpace;
  .navigation-box {
    position: relative;
    transform: none;
    left: 0;
  }
}
